body{
    background-color: #EFEEEE;
}
#register_input{
    background-color: white;
    padding: 10px;
    max-width: 65%;
    margin: auto;
    border-radius: 5px;
}
#login_box{
    background-color: white;
    padding: 10px;
    max-width: 30%;
    margin: auto;
    border-radius: 5px;
    height: 350px;
    flex-wrap: wrap-reverse;
}
#login_img{
    margin:auto;
    display: block;
    border-radius: 50%;
    max-width: 70%;
    max-height: 70%;
}
.login-input-box{
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
}
*{
    font-family: Helvetica, sans-serif;
}
.input-box{
    flex-wrap: wrap;
    max-width: 45%;
}
.input_boxes{
    flex-wrap: wrap;
}
.form-control{
    background-color: #E5E5E5;
    border: #A6A6A6;
}
#register_image{
    width: 20%;
    height: 20%;
    border-radius: 50%;
}

.button-recommended {
  background-color: #98D7D1;
  width: 175px;
  height: 175px;
  padding: 20px;
  margin: 20px;

  filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.25));
  border-radius: 15px;

}