#register_input{
    background-color: lightgray;
    padding: 10px;
    max-width: 65%;
    margin: auto;
    border-radius: 5px;
}
.input-box{
    border: lightgray;
    max-width: 40%;
    flex-wrap: nowrap;
}
*{
    font-family: Helvetica, sans-serif;
}

#register_image{
    width: 20%;
    height: 20%;
    border-radius: 50%;
}