body{
    background-color: #EFEEEE;
    font-family: Calibri, serif;
}
footer{
    width: 1170px;
    margin:  40px auto 0 auto;
    padding: 15px;
    color: grey;
}
img{
    max-width: 100%;
    max-height: 100%;
}
textarea{
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    border: 2px solid #ccc;
    border-radius: 25px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
/* Login page */
#loginLabel {

}
.offer_item{
    width: 250px;
    height: 350px;
    background-color: #98D7D1;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.is_accepted{
    width: 45%;
    background-color: mediumseagreen;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
}
.is_not_accepted{
    width: 45%;
    background-color: firebrick;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
}
#go_to_payment{
    width: 35%;
    justify-content: flex-end;
}
#offerprice{
    width: 100%;
}
#searchbar{
    background-color: white;
    border-radius: 0 20px 20px 0;
    border-style: solid;
    border-color: darkgray;
    border-width: 1px;
    flex-grow: 2;

}
.searchbar-container{
    margin: 140px auto 20px;
    width: 96%;
    display: flex;
}
.bi-search{
    margin: auto;
}
.btn_default{
    border-style: solid;
    border-color: darkgray;
    border-radius: 20px 0 0 20px;
    max-height: 34px;
    max-width: 4%;
    margin-right: -1px;
}
.page_title{
    color: #F26627;
    margin-top: 140px;
}
#register_input{
    background-color: white;
    padding: 15px;
    max-width: 40%;
    margin: auto;
    border-radius: 5px;
}
#top_items_register{
    display: flex;
    flex-wrap: wrap;
    max-height: 200px;
}
#firstname_lastname{
    flex-grow: 2;
    margin-left: 10px;
    display: flex;
    flex-direction: column-reverse;
}

.input_boxes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.register-button-box{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}
#register_button{
    display: flex;
}
#login_box{
    display: flex;
    background-color: white;
    padding: 15px;
    max-width: 30%;
    margin: auto;
    border-radius: 5px;
    flex-wrap: wrap-reverse;
}

.form-horizontal{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
}

.submit-button-area{
    margin: 5px;
    justify-content: center;
}
.fieldWrapper{
    justify-content: center;
    display: flex;
}

.form-control-login{
    display: flex;
    justify-content: center;
    width: 325px;
    margin-bottom: 10px;
}

.login-button{
    display: flex;
    width: 150px;
    justify-content: center;
}
#login_img{
    order: 1;
    margin:auto;
    display: block;
    border-radius: 50%;
    max-width: 70%;
    max-height: 70%;
}
.login-button-box{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}
#login_button{
    display: flex;
}
.confirm_button{
    background-color: #325D79;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
    border-width: 0;
    margin: 5px;
    filter: drop-shadow(-2px 3px 1px rgba(0, 0, 0, 0.25));
}
.confirm_button:hover, .secondary_button:hover{
    background-color: white;
    color: #325D79;
}
.secondary_button{
    background-color: #98D7D1;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
    border-width: 0;
    margin: 5px;
    filter: drop-shadow(-2px 3px 1px rgba(0, 0, 0, 0.25));
}

.container{
    min-height: 1000px;
}
.order_by_btn:first-child{
    margin-left: 65px;
}
.order_by_btn{
    background-color: #325D79;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
    border-width: 0;
    margin: 5px;
    filter: drop-shadow(-2px 3px 1px rgba(0, 0, 0, 0.25));
}

.order_by_btn:active{
    background-color: white;
    color: #325D79;
}
.input-box{
    width: 100%;
}

.form-control{
    background-color: #E5E5E5;
    border: #A6A6A6;
    border-radius: 5px;
}
.form-control-login{
    border: #A6A6A6;
    border-radius: 5px;
}
#register_image{
    border-radius: 50%;
    max-height: 200px;
}
#top_items_register{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
#post_sale_title{
    max-width: 53%;
}
.button-image {
    width: 100%;
    height: 100%;
    padding: 2px;
    border-radius: 50%;
}
.navbar-full {
    background-color: #F9A26C;
    border-radius: 1%;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.navbar-logo {
    object-fit: cover;
    padding:10px
}
.navbar-button {
    background-color: #F26627;
    background-size: 300px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 100;
    font-size: 28px;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -20px;
    margin-right: 35px;
    margin-top: 27px;
    filter: drop-shadow(-2px 3px 1px rgba(0, 0, 0, 0.25));
    border-radius: 5px;

}

#profile-button {
    background-color: #325D79;
    background-size: 300px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 100;
    font-size: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 2px;
    filter: drop-shadow(-2px 3px 1px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
    margin: 12px 35px auto -20px;
}
.navbar-profile-image{
    border-radius: 50%;
    height: 70px;
    width: 70px;
    overflow: hidden;
    display: inline-block;
    object-fit: cover;
    margin: 5px;
}
.navbar-profile-info{
    display: flex;
    flex-direction: column;
}
.navbar-profile-name{
    margin: auto auto 5px 0;
    max-width: 180px;
    max-height: 33px;
    font-size: 20px;
}
#navbar_post_sale_button {
    padding-left: 20px;
    text-align: center;
}

.template_button {
    width: 300px;
    text-align: start;
    height: 35px;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
    border-width: 1;
}

.post_sale_container {
    background-color: #FFFCFC;
    border-radius: 5px;
    display:flex;
    margin: 0 10% 0 10%;
    height: 500px;
}

.post_sale_left_side {
    display: flex;
    order: 1;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;

}

.post_sale_right_side {
    display: flex;
    order: 2;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.post_sale_submit_box{
    margin: 5px;
    justify-content:flex-start;
    max-width: 75%;
}
#post_sale_form_item_description{
    justify-content: flex-end;
    align-items: end;
    margin-left: 10%;
    margin-bottom: 3%;
    margin-top: 2%;
}
#post_sale_form_item_name{
    padding-bottom: 2%;
    margin-left: 10%;
}
#post_sale_form_item_image,#post_sale_form_item_category, #post_sale_form_item_condition, #post_sale_form_item_price{
    padding-bottom:2%;
    max-width: 60%;
}

.post_sale_left_text{
    margin-left:10%;
}

.post_sale_right_text{
    margin-left:1%;
}

.edit_form_control{
    height: 200px;
    padding-bottom: 170px;

}

.body-container{
    min-height: 100%;
}


.footer-bar{
    bottom: 0;
    width: 100%;
    color: #b2b2b2;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
/* ALL ITEMS CSS FROM DB BEGIN HERE */
.item-sell-name, .item-sell-price {
    float: left;
    clear: left;
    margin-left: 10px;
    align-self: flex-start;
    font-size: 18px;
    padding-bottom: 5px;
    color: #325D79;
    max-width: 181px;
    max-height: 31px;
}

.button-sell-all-items {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.button-single-item {
    background-color: #98D7D1;
    filter: drop-shadow(-3px 2px 1px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
    width: 100%;
    height: 250px;
    border-style: none;
    display: flex;
    flex-direction: column;
}
.single-my_sales-item{
    background-color: #98D7D1;
    filter: drop-shadow(-3px 2px 1px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
    width: 100%;
    height: 350px;
    border-style: none;
    display: flex;
    flex-direction: column;
}

.item-sell-img {
    border-radius: 5px;
    margin: auto;
    max-height: 90%;
}
.image-container{
    height: 75%;
    padding: 5px;
    display: flex;
}

.each.item {
    width: 18%;
    margin: 1%;
}
/* ALL ITEMS CSS FROM DB END HERE */
/* My profile starts */
.profile-container{
    background-color: white;
    border-radius: 5px;
    height: 500px;
    margin: 0 15% 0 15%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}
.profile-image {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    overflow: hidden;
    margin: 40px 40px 40px 0;
    display: inline-block;
    object-fit: cover;
}
.bio-container{
    background-color: #EFEEEE;
    border-color: darkgray;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    height: 100px;
    width: 350px;
    padding: 5px 10px 5px 10px;
    margin-top: 10px;
}
.user-bio{
    text-align: justify;
}

.profile-info{
    display: flex;
    flex-direction: column;
}

.profile-buttons{
    display: flex;
    margin: 0 auto auto auto;
    justify-content: center;

}
.profile-image-and-bio{
    display: flex;
    margin: auto auto 0 auto;
}
.edit-profile-form{
    margin: 40px 5px auto 5px;
}
.edit-profile-container{
    background-color: white;
    border-radius: 5px;
    height: 400px;
    margin: 0 30% 0 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.edit-profile-button{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
    margin-top: 20px;
}
/* my profile ends */

.offer-container{
    background-color: white;
    border-radius: 5px;
    height: 1000px;
    margin: 0 15% 0 15%;
    display: flex;
    flex-direction: column;
}

.offer-price-container{
    justify-content: center;
    width: 50%;
    padding-left: 50px;
    padding-top: 50px;
}
.offer-img-container{
    width: 95%;
    max-height: 25%;
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-inline: auto;
    background-color: #98D7D1;
    border-radius: 5px;
}

.similar-items-container{
    flex-direction:column;
    width: 95%;
    height: 35%;
    display: flex;
    padding: 2.5%;
    margin-inline: auto;
    background-color: #EFEEEE;
    border-radius: 5px;
}
.item-offer-img{
    max-height: 90%;
    object-fit: cover;
    max-width: 30%;
    margin: auto;
    border-radius: 5px;
}
.item-info-container{
    background-color: #EFEEEE;
    border-radius: 5px;
    padding: 2.5%;
    width: 95%;
    height: 30%;
    display: flex;
    margin-inline: auto;
    margin-top:2%;
    margin-bottom:2%;
    flex-direction: row;
}

.item-info-right{
    display: flex;
    flex: 1;
    align-items: flex-end;
    justify-content: flex-end;
}

.item-info-left{
    flex-direction: column;
    display: flex;
    flex: 1;

}
.item-info{
    font-size: 20px;
}
.offer-input-container{
    align-self: flex-end;
}
.navbar-header{
    width: 108px;
    height: 108px;
}
#make-offer-button{
    font-size: 24px;
}
/* Payment starts */

.payment-container{
    background-color: white;
    margin: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

    width: 350px;
    justify-content: flex-start;
    padding: 20px;
}
.cardinfo-container{
    margin: 20px 5px 0 5px;
    height: 75%;
    display: flex;
    flex-direction: column;
}

.payment-buttons{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
    height: 25%;
}
.payment-title{
    margin: 0;
}
.subtitle{
    font-weight: bold;
    margin-top: 5px;
    margin-bottom:15px;
}
.payment-top{
    margin-bottom: 20px;
}
.payment-middle{
    display: flex;
    margin-bottom: 20px;
}
.payment-middle-half{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: 10%;
}
.payment-bottom{
    margin-bottom: 20px;
}
.exp-date-container{
    display: flex;
}
.payment-head{
    margin: 20px auto 0 auto;
}
.contact-right{
    width: 50%;
    padding-right: 10px;
}
.contact-left{
    width: 50%;
    padding-left: 10px;
}
.contact-container{
    background-color: white;
    margin: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

    width: 500px;
    justify-content: flex-start;
    padding: 20px;
}
.contact-rl{
    display: flex;
    margin-top: 20px;
}
.contact-single{
    margin-bottom: 10px;
}
.contact-number-field{
    margin-bottom: 10px;
    width: 40%;
}
.review-container{
    background-color: white;
    margin: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: flex-start;
    padding: 20px;
}
/* Payment ends */

/* Star ratings start */

.checked {
    color: goldenrod;
}
.rating{
    background-color: #98D7D1;
    display: flex;
    width: 180px;
    border-radius: 5px;
    height: 30px;
    margin-right: 5px;
}
.stars{

    display: flex;
    justify-content: space-evenly;
    margin: auto auto auto 0;
}
.rating-number{
    margin: auto 5px auto auto;
    font-size: 20px;
    color: white;
}
/* Star ratings end */
.img-upload-container{
    background-color: white;
    border-radius: 5px;
    display: flex;
    margin: 0 30% 0 30%;
    height: 300px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.upload-buttons{
    display: flex;
    height: 45px;
}
