{%  extends 'base.html' %}
{% block content %}
    <h1 class="page_title">Mín tilboð</h1>
    <div class="container">
        <div class="offer_item">
            <h3>Jordan shoe</h3>
            <img src="/static/images/jordan_shoe.png" alt="placeholder image">
            <p id="offerprice">Hæsta tilboð: 123</p>
            <div class="is_accepted">Tilboðið þitt hefur verið samþykkt!</div>
            <button id="go_to_payment" class="confirm_button">Ganga frá greiðslu</button>
        </div>
    </div>
{% endblock %}