<div class="each item">
        <div class="single-my_sales-item">
        <div class="image-container">
           {% for i in items %}
            {% if i.id == bid.bid_item_id %}
                <img class="item-sell-img" alt="mynd af söluvöru" src="{{ i.itemimage_set.first.image|default:"/static/images/bonfire-default-img.jpg" }}" onerror="this.onerror=null;this.src='/static/images/bonfire-default-img.jpg';" />
        </div>
        <span class="item-sell-name">Nafn: {{ i.item_name }}</span>

        <span class="item-sell-price">Verð: {{ bid.bid_amount }} kr.</span>
            {% if bid.bid_status is True %}
                <a class="confirm_button" href="{% url 'payment-contact_info' bid.id %}">Ganga frá greiðslu</a>
            {% else %}
            {% endif %}
            {% endif %}
            {% endfor %}
        </div>
</div>