{%  extends 'base.html' %}
{% block content %}
    <h2 class="page_title">Innskráning</h2>
<div id="login_box">

    <img id="login_img" src="/static/images/logo_temp.png" alt="placeholder image">

    <div class="login-input-box">
        <label for="user_name">Notendanafn</label>
        <input id="user_name" class="form-control" >
    </div>
    <div class="login-input-box">
        <label for="password">Lykilorð</label>
        <input type="password" id="password" class="form-control" >
    </div>
    <div class="login-button-box">
        <button id="login_button" class="confirm_button">Skrá inn</button>
    </div>
</div>
{% endblock %}