{%  extends 'base.html' %}
{% block content %}
    <h1 class="page_title">Prófíllinn minn</h1>
    <div class="profile-container">
        <div class="profile-image-and-bio">
            <img class="profile-image" src="/static/images/blank-profile-picture-973460_1280.png" alt="your profile picture">
        <div class="profile-info">
            <h1 class="user-name">[Nafn]</h1>
            <div class="bio-container">
                <p class="user-bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
        </div>

        <div class="profile-buttons">
            <button class="confirm_button">Breyta prófíl</button>
            <button class="secondary_button">Gamlar sölur</button>
            <button class="secondary_button">Gömul kaup</button>
        </div>

    </div>
{% endblock %}