{%  extends 'base.html' %}
{% block content %}
    <div id="register_input" class="input_boxes">
    <form class="form form-horizontal" action="{% url 'create_user' %}" method="post">
            <div id="top_items_register">
            <img id="register_image" src="/static/images/blank-profile-picture-973460_1280.png" alt="placeholder image">
            </div>
            {% csrf_token %}
            {{ form }}
            <div class="input-box">
            <label for="confirm_password">Staðfesta lykilorð</label>
            <input type="password" id="confirm_password" class="form-control" >
            </div>
            <input type="submit" value="Stofna aðgang" class="confirm_button" style="clear:both; margin: 10px 0">
        </form>
    </div>
{% endblock %}
