{%  extends 'base.html' %}
{% block content %}
    <div class="firesale">
        <h2>Welcome to the firesale</h2>
    </div>
        <input id="searchbar"class="form-control" placeholder="Leit" type="text">
    {% for item in sell_items %}
        <button class="button-recommended">
        <h4>{{ item.name }}</h4>
        <p>{{ item.price }}ISK</p>
        <img class="button-image" src="/static/images/jordan_shoe.png" alt="placeholder image">
        {% if item.price > 13000 %}
            <p>Dýrt</p>
        {% else %}
            <p>Ódýrt</p>
        {% endif %}
        </button>

    {% endfor %}
{% endblock %}