{% extends "base.html" %}
{% block content %}
   <h2 class="page_title">Bjóða í vöru</h2>
    <div class="offer-container">
        <div class="offer-img-container">
             {% for item_image in item.itemimage_set.all %}
                <img src="{{ item_image.image }}" alt="Item image" onerror="this.onerror=null;this.src='/static/images/bonfire-default-img.jpg';" class="item-offer-img">
            {% endfor %}
        </div>
        <div class="item-info-container">
            <div class="item-info-left">
                <h4 class="subtitle">Upplýsingar um vöru:</h4>
                <p class="item-info">Nafn: {{ item.item_name }}</p>
                <p class="item-info">Verð: {{ item.item_price }}</p>
                <p class="item-info">Vöruflokkur: {{ item.item_category }}</p>
                <p class="item-info">Ástand: {{ item.item_condition }}</p>
                <p class="item-info">Lýsing: {{ item.item_description }}</p>
                <p class="item-info">Hæsta boð: {{ bid.bid_amount }}</p>
        </div>
            <div class="item-info-right">
                {% if user.is_authenticated %}
                <a id="make-offer-button" class="confirm_button" href="/firesale/item_bid/{{ item.id }}">Gera tilboð</a>
                <div class="offer-input-container">
                    {% else %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="similar-items-container">
            <h4 class="subtitle">Svipaðar vörur:</h4>
            <div class = similar-suggestions>
                {% for i in items %}
                    <div class="each item">
                        <a href="/firesale/item/{{ i.id }}">
                            <button class="button-single-item">
                                <span class="image-container">
                                    <img class="item-sell-img" alt="mynd af söluvöru" onerror="this.onerror=null;this.src='/static/images/bonfire-default-img.jpg';" src="{{ i.itemimage_set.first.image|default:"/static/images/bonfire-default-img.jpg" }}"/>
                                </span>
                                <span class="item-sell-name">{{ i.item_name }}</span>
                                <span class="item-sell-price">{{ i.item_price }} kr.</span>
                            </button>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}