{% extends "base.html" %}
{% block content %}
   <h2 class="page_title">Bjóða í vöru</h2>
    <div class="offer-container">
        <div class="offer-img-container">
            <img class="item-offer-img" src="{{ item.item_image }}" alt="item-for-sale">
        </div>
        <div class="item-info-container">
            <p class="item-info">Nafn: {{ item.item_name }}</p>
            <p class="item-info">Verð: {{ item.item_price }}</p>
            <p class="item-info">Ástand: {{ item.item_condition }}</p>
            <p class="item-info">Lýsing: {{ item.item_description }}</p>
            <p class="item-info">Hæsta boð: {{ bid.bid_amount }}</p>
            {% if user.is_authenticated %}
            <a class="confirm_button" href="/firesale/item_bid/{{ item.id }}">Gera tilboð</a>
            <div class="offer-input-container">
                {% else %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}