{%  extends 'base.html' %}
{% block content %}
       <h2 class="page_title">Bjóða í vöru</h2>
    <div class="img-upload-container">
        <h2 class="payment-title">Upphæð:</h2>
        <form class="offer-price-container" action="{% url 'item-bid' item.bid_item_id %}" method="post">
            {% csrf_token %}
            {{ form.bid_amount }}
            <input type="submit" value="Staðfesta tilboð" class="confirm_button" id="post_sale_confirm_button">
        </form>
    </div>
{% endblock %}