<div class="each item">
    <a href ="/firesale/{{ item.id }}">
        <button class="button-single-item">
        <span class="image-container">
            <img class="item-sell-img" alt="mynd af söluvöru" src="{{ item.itemimage_set.first.image }}"/>
        </span>
            <p>sdfsdf</p>
        <span class="item-sell-name">{{ item.item_name }}</span>
            <p>hi</p>
            <p>there</p>
            <p>mememe</p>
        <span class="item-sell-price">{{ item.item_price }}</span>
        </button>
    </a>
</div>