<div class="each item">
    <a href ="/firesale/item/{{ item.id }}">
        <button class="button-single-item">
        <span class="image-container">
            <img class="item-sell-img" alt="mynd af söluvöru" onerror="this.onerror=null;this.src='/static/images/bonfire-default-img.jpg';" src="{{ item.itemimage_set.first.image|default:"/static/images/bonfire-default-img.jpg" }}"/>
        </span>
        <span class="item-sell-name">{{ item.item_name }}</span>
        <span class="item-sell-price">{{ item.item_price }} kr.</span>
        </button>
    </a>
</div>