{% extends "base.html" %}
{% block content %}
   <h2 class="page_title">Mín sala</h2>
    <div class="offer-container">
        <div class="offer-img-container">
              {% for item_image in item.itemimage_set.all %}
                <img src="{{ item_image.image }}" alt="Item image" class="item-sell-img">
            {% endfor %}
        </div>
        <div class="item-info-container">
            <div class="item-info-left">
                <p class="item-info">Nafn: {{ item.item_name }}</p>
                <p class="item-info">Verð: {{ item.item_price }}</p>
                <p class="item-info">Ástand: {{ item.item_condition }}</p>
                <p class="item-info">Lýsing: {{ item.item_description }}</p>
                <p class="item-info">Hæsta boð: {{ bid.bid_amount }}</p>
            </div>
            <div class="item-info-right">
                {% if user.is_authenticated and  bid.bid_amount > 0 and bid.bid_status == False %}
                <a class="confirm_button" href="{% url 'sell-confirm' item.id bid.id %}">Samþykkja tilboð</a>
                <div class="offer-input-container">
                    {% elif bid.bid_status == True %}
                        <div class="is_accepted">Tilboð samþykkt og tilkynning sent á kaupanda</div>
                    {% else %}
                        <div class="is_not_accepted">Engin tilboð hafa borist</div>
                    {% endif %}
                </div>
            </div>


        </div>
    </div>
{% endblock %}