<div class="each item">
    <a href ="/my_sales/{{ item.id }}">
        <div class="single-my_sales-item">
        <div class="image-container">
            <img class="item-sell-img" alt="mynd af söluvöru" src="{{ item.itemimage_set.first.image|default:"/static/images/bonfire-default-img.jpg" }}" />
        </div>
        <span class="item-sell-name">{{ item.item_name }}</span>
        <span class="item-sell-price">{{ item.item_price }}</span>
            <button class="confirm_button">Skoða sölu</button>
        </div>
    </a>
</div>