<div class="each item">
    <a href ="#">
        <div class="single-my_sales-item">
        <span class="image-container">
            <img class="item-sell-img" alt="mynd af söluvöru" src="{{ item.item_image }}" />
        </span>
        <span class="item-sell-name">{{ item.item_name }}</span>
        <span class="item-sell-price">{{ item.item_price }}</span>
            <p>setja tilboð osfrv hér</p>
            <button class="confirm_button">Samþykkja tilboð</button>
        </div>
    </a>
</div>