<nav class="navbar-full">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-logo-link" href="{% url 'firesale-index' %}">
          <img class="navbar-logo" src="/static/images/logo_temp.png" alt="placeholder image">

      </a>
    </div>


      <ul class="nav navbar-nav navbar-right">
        <li><a class = "navbar-button" href="{% url 'register-index' %}">Nýskráning</a></li>
          <li><a class = "navbar-button" href="{% url 'login-index' %}">Skrá inn</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
</nav>