<nav class="navbar-full">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-logo-link" href="{% url 'firesale-index' %}">
        <img class="navbar-logo" src="/static/images/logo_transparent.png" alt="placeholder image">
      </a>
    </div>

      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
            <li><a id = "navbar_post_sale_button" class = "navbar-button" href="{% url 'post_sale' %}">Selja nýjan hlut</a></li> <li><a class = "navbar-button" href="{% url 'my-offers-index' %}">Mín tilboð</a></li>
            <li><a class = "navbar-button" href="{% url 'my_sales-index' %}">Mínar sölur</a></li>
            <li><a id="profile-button" href="{% url 'profile' %}">
                <img class="navbar-profile-image" src="{{ profile_image.profile_image|default:'/static/images/silhouette-image-4.png'}}" alt="user's profile image">
            </a></li>
                <li><a class = "navbar-button" href="{% url 'logout' %}">Skrá út</a></li>
            </ul>
        {% else %}
            <li><a class = "navbar-button" href="{% url 'register' %}">Nýskráning</a></li>
            <li><a class = "navbar-button" href="{% url 'login' %}">Skrá inn</a></li>
        {% endif %}
 </ul>
    </div><!-- /.navbar-collapse -->
</nav>