{%  extends 'base.html' %}
{% block content %}
    <h2 class="page_title">Selja nýjan hlut</h2>
    <div class="post_sale_container">
        <div class="post_sale_left_side">
            <div class = post_sale_img_box><button class="post_sale_img_box"><img id=post_sale_image src="/static/images/blank-submit-image.png" alt="placeholder image"></button></div>
            <h3 class="item_description">Lýsing</h3>
            <div class ="post_sale_description">
                <form><textarea></textarea></form></div>
        </div>
        <div class="post_sale_right_side">
            <div class = post_sale_top_right> <h3>TOP RIGHT SIDE</h3></div>
            <div class = post_sale_bottom_right> <h3>BTM RIGHT SIDE</h3></div>

        </div>
    </div>
{% endblock %}