{%  extends 'base.html' %}
{% block content %}
    <h2 class="page_title">Selja nýjan hlut</h2>
    <div class="post_sale_container">
        <div class="post_sale_left_side">
            <div class = post_sale_img_box><button class="post_sale_img_box"><img id=post_sale_image src="/static/images/blank-submit-image.png" alt="placeholder image"></button></div>
            <h3 class="item_description">Lýsing</h3>
            <div class ="post_sale_description">
                <form><textarea id = post_sale_textarea></textarea></form></div>
        </div>
        <div class="post_sale_right_side">
            <div class = post_sale_top_right>
                <button class="secondary_button upload_img_button">Hlaða upp mynd</button>
                <h4>Mynd frá neti</h4>
                <button class="template_button">Hlekkur...</button>
                <h4>Titill</h4>
                <label for="post_sale_title"></label>
                <input id="post_sale_title" class="form-control">

            </div>
            <div class = post_sale_bottom_right>
                <h4><label for="select_condition">Ástand vöru:</label></h4>
                    <select name="select_condition" id="select_condition">
                        <option value="Mjoggott">Mjög gott</option>
                        <option value="Ágætt">Gott</option>
                        <option value="Lélegt">Ágætt</option>
                    </select>

                <h4>Verð
                <label for="post_sale_price"></label></h4>
                <input id="post_sale_price" class="form-control">
                <p></p>

            <div class="post_sale_bottom_buttons">
                <h4></h4>
                <button class="secondary_button post_sale_btm_btns">Hætta við</button>
                <button class="confirm_button post_sale_btm_btns post_sale_continue_btn">Halda áfram</button>
            </div>
            </div>

        </div>
    </div>
{% endblock %}