{%  extends 'base.html' %}
<a href ="/payment/contact_info/{{ bid.id }}">
{% block content %}
    <h2 class="page_title">Greiðsla</h2>
        <form action="{% url 'payment-contact_info' bid.id %}" method="post" class="form-horizontal">
        {% csrf_token %}
            <div class="contact-container">
                <h2 class="payment-head">Persónuupplýsingar</h2>
                <div class="contact-rl">
                    <div class="contact-right">
                        <div class="contact-single">
                            <h3 class="payment-title">Fornafn:</h3>
                            {{ form.first_name }}
                        </div>
                        <div class="contact-single">
                            <h3 class="payment-title">Götuheiti:</h3>
                            {{ form.street_name }}
                        </div>
                        <div class="contact-single">
                            <h3 class="payment-title">Bæjarfélag:</h3>
                            {{ form.city }}
                        </div>
                        <div class="contact-number-field-country">
                            <h3 class="payment-title">Land:</h3>
                            {{ form.country }}
                        </div>
                    </div>
                    <div class="contact-left">
                        <div class="contact-single">
                            <h3 class="payment-title">Eftirnafn:</h3>
                            {{ form.last_name }}
                        </div>

                        <div class="contact-number-field">
                            <h3 class="payment-title">Húsnúmer:</h3>
                            {{ form.street_number }}
                        </div>

                        <div class="contact-number-field">
                            <h3 class="payment-title">Póstnúmer:</h3>
                            {{ form.post_code }}
                        </div>

                    </div>
                </div>

            <div class="payment-buttons">
                <a class="secondary_button" href="{% url 'my-offers-index' %}">Tilbaka</a>
                <input type="submit" class="confirm_button" value="Halda áfram"/>
            </div>
            </div>
        </form>
{% endblock %}
 </a>
