{%  extends 'base.html' %}
<a href ="/payment/payment/{{ bid.id }}">
{% block content %}
    <h2 class="page_title">Greiðsla</h2>

        <form action="{% url 'payment-payment' item.id  %}" method="post" class="form-horizontal">
        {% csrf_token %}
            <div class="payment-container">
                <h2 class="payment-head">Kortaupplýsingar</h2>
                <div class="cardinfo-container">
                    <div class="payment-top">
                        <h3 class="payment-title">Kortanúmer:</h3>
                        {{ form.card_number }}
                    </div>
                    <div class="payment-middle">
                        <div class="payment-middle-half">
                            <h3 class="payment-title">Gildistími:</h3>
                            <div class="exp-date-container">
                                {{ form.exp_month }}
                                <h3 class="payment-title">/</h3>
                                {{ form.exp_year }}
                            </div>
                        </div>
                        <div class="payment-middle-half">
                            <h3 class="payment-title">Öryggisnúmer:</h3>
                            {{ form.cvc }}
                        </div>
                    </div>
                    <div class="payment-bottom">
                        <h3 class="payment-title">Nafn korthafa:</h3>
                        {{ form.name }}
                    </div>
                </div>
                <div class="payment-buttons">
                    <button class="secondary_button">Til baka</button>
                <input type="submit" class="confirm_button" value="Halda áfram"/>
                </div>
                 </div>
        </form>

{% endblock %}
</a>