{%  extends 'base.html' %}
{% block content %}
    <h2 class="page_title">Greiðsla</h2>
    <div class="review-container">
        <h2 class="payment-head">Yfirferð</h2>
        <div class="contact-rl">
            <div class="contact-left">
                <p>contact info</p>
                <p>contact info</p>
                <p>contact info</p>
                <p>contact info</p>
                <p>contact info</p>
                <p>contact info</p>
                <p>contact info</p>
                <p>contact info</p>
            </div>
            <div class="contact-right">
                <p>card info</p>
                <p>card info</p>
                <p>card info</p>
                <p>card info</p>
                <p>card info</p>
                <p>card info</p>
                <p>card info</p>
                <p>card info</p>
            </div>
        </div>
        <div class="payment-buttons">
            <button class="secondary_button">Til baka</button>
            <input type="submit" class="confirm_button" value="Staðfesta"/>
        </div>
    </div>
{% endblock %}
