{%  extends 'base.html' %}
{% block content %}
    <h2 class="page_title">Greiðsla</h2>
    <div class="review-container">
        <h2 class="payment-head">Yfirferð</h2>
        <div class="contact-rl">
            <div class="contact-left">
                <p>Fornafn: {{ contact.first_name }}</p>
                <p>Eftirnafn: {{ contact.last_name }}</p>
                <p>Gata: {{ contact.street_name }}</p>
                <p>Nr: {{ contact.street_number }}</p>
                <p>Póstnúmer: {{ contact.post_code }}</p>
                <p>Borg: {{ contact.city }}</p>
                <p>Land: {{ contact.city }}</p>
            </div>
            <div class="contact-right">
                <p>Nafn korthafa: {{ payment.name }}</p>
                <p>Kortanúmer: {{ payment.card_number }}</p>
                <p>CVC: {{ payment.cvc }}</p>
                <p>Gildistími/mán: {{ payment.exp_month }}</p>
                <p>Gildistími/ár: {{ payment.exp_year }}</p>
                <h3>VERÐ: {{ bid.bid_amount }}</h3>
            </div>
        </div>
        <div class="payment-buttons">
             <a class="secondary_button" href="{% url 'payment-payment' item_id.id %}">Tilbaka</a>
            <a class="confirm_button" href="{% url 'payment-processed' item_id.id %}">Samþykkja tilboð</a>

        </div>
    </div>
{% endblock %}
