
{%  extends 'base.html' %}
{% block content %}
    <h2 class="page_title">Innskráning</h2>
    <div id="login_box">
        <img id="login_img" src="/static/images/logo_temp.png" alt="placeholder image">
        <form method="post" class="form-horizontal">
        {% csrf_token %}
        {% if form.errors %}
        <p>Notandanafn og lykilorð passa ekki. Vinsamlegast reyndu aftur.</p>
        {% endif %}
            <div class="fieldWrapper">
                <label id="loginLabel" for="{{ form.username.id_for_label }}">Notendanafn:</label>
            </div>
                <div class="form-control-login">
                {{ form.username }}
                </div>
            <div class="fieldWrapper">
                <label id="loginLabel" for="{{ form.password.id_for_label }}">Lykilorð:</label>
             </div>
                <div class="form-control-login">
                {{ form.password }}
                </div>
        <div class="submit-button-area">
        <input type="submit" class="login-button confirm_button " value="Skrá inn"/>
        </div>
        </form>
    </div>
{% endblock %}







