{%  extends 'base.html' %}
{% block content %}
    <h2 class="page_title">Hlaða upp myndum</h2>
    <div class="img-upload-container">
       <form action="{% url 'post_sale_images' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <div class="upload-buttons">
                <div style="width: 134px">
                {{ message }}
            </div>
           {% if message == 'Hámark fjölda mynda náð' %}
               {% else %}
                    <input type="submit" value="Setja inn mynd" class="confirm_button" id="post_sale_confirm_button">
           {% endif %}
            </div>
        </form>
    <button class="confirm_button" type="submit" onclick="location.href='{% url 'firesale-index' %}'">Forsíða</button>
    </div>
{% endblock %}