{%  extends 'base.html' %}
{% block content %}
    <div class="profile-container">
        <div class="profile-image-and-bio">
            <img class="profile-image" src="{{ Image.profile_image }}" alt="your profile picture">
        <div class="profile-info">
            <h1 class="user-name">{{ User.username }}</h1>
            <div class="bio-container">
                <p class="user-bio">{{ Image.profile_bio }}</p></div>
        </div>
        </div>
    </div>
    {% if user.is_authenticated %}
      <a class = "profile-button" href="{% url 'profile_edit' %}">Breyta prófíll</a>
    {% endif %}
{% endblock %}


