{%  extends 'base.html' %}
{% block content %}
    <h2 class="page_title">Nýskráning</h2>
    <div id="register_input" class="input_boxes">
    <form class="form form-horizontal" action="{% url 'register' %}" method="post">
            <div id="top_items_register">
            <img id="register_image" src="/static/images/blank-profile-picture-973460_1280.png" alt="placeholder image">
            </div>
            {% csrf_token %}
            {{ form }}
               {{ message }}
            <input type="submit" value="Stofna aðgang" class="confirm_button" style="clear:both; margin: 10px 0">
        </form>
    </div>
{% endblock %}